/* inactive items */
/* .owl-item {
    width: 350px;
    transition: all 0.3s ease;
    z-index: 1;
} */

/* center/active item */
.owl-item.center {
    transform: scale(1);
    z-index: 10000 !important;
}

.card {
    /* width: 265px; */
    /* width: 500px; */
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* shadow-sm */
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

/* image-full effect */
.card figure {
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* overlay content */
.card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    color: white;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0));
}

/* for gradient */
.gradient1 {
    background: linear-gradient(90deg, var(--primary), var(--secondary), var(--accent), var(--primary));
    background-size: 200% auto;
    animation: gradientShift 3s ease-in-out infinite;
}

.gradient2 {
    background: linear-gradient(90deg, var(--background), var(--primary), var(--accent), var(--secondary));
    background-size: 200% auto;
    animation: gradientShift 3s ease-in-out infinite;
}

.gradient3 {
    background: linear-gradient(90deg, var(--secondary), var(--primary), var(--background), var(--accent));
    background-size: 200% auto;
    animation: gradientShift 3s ease-in-out infinite;
}

/* for glowing border animation */
.shine-pulse {
    border: 2px solid var(--primary);
    animation: border-pulse-glow 1.8s ease-in-out infinite;
    background-color: rgb(187, 241, 187);
}

@keyframes border-pulse-glow {

    0%,
    100% {
        box-shadow: 0 0 6px var(--primary), 0 0 16px var(--primary);
        border-color: var(--primary);
    }

    50% {
        box-shadow: 0 0 14px var(--primary), 0 0 32px var(--primary);
        border-color: var(--primary);
    }

}

/* for shimmering text animation */
.shine-text {
    background: linear-gradient(105deg, #6366f1 30%, #a5b4fc 45%, #e0e7ff 50%, #a5b4fc 55%, #6366f1 70%);
    /* background: linear-gradient(105deg, var(--background), var(--primary), var(--accent), var(--secondary)); */
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}



/* Light mode (default) */
:root {
    .tableBg {
        background-color: var(--background);
        color: var(--header-color);
    }
    .report_title{
        background: linear-gradient(90deg, var(--primary), var(--secondary), var(--accent), var(--primary));
        background-size: 200% auto;
        animation: gradientShift 3s ease-in-out infinite;
        /* background-color: var(--background); */
        color: var(--header-color);
    }
     .headerTheme {
        /* background: linear-gradient(90deg, var(--background), var(--primary), var(--accent), var(--secondary));
        background-size: 200% auto;
        animation: gradientShift 3s ease-in-out infinite; */
        background-color: var(--background);
        color: var(--header-color);
    }
    .carouselBg{
        background: linear-gradient(180deg, var(--primary), var(--secondary), var(--accent), var(--primary));
        background-size: 200% auto;
        animation: gradientShift 3s ease-in-out infinite;
        color: var(--header-color);
    }
    .tableSec{
        background: linear-gradient(180deg, var(--primary), var(--secondary), var(--accent), var(--primary));
        background-size: 200% auto;
        animation: gradientShift 3s ease-in-out infinite;
        /* background-color: var(--background); */
        color: var(--header-color);
    }
    .dropdownTrigger{
        background-color: var(--primary);
        color: var(--header-color);
    }
    .dropdown-content{
        background-color: var(--primary);
        color: var(--body-color);
        z-index: 999;
    }
    .searchBar {
        background-color:white;
        color: black;
    }
    .bodyBg{
       background: linear-gradient(
        180deg,
        var(--primary),
        var(--secondary),
        var(--accent),
        var(--primary)
    );

    background-size: 200% auto;
    animation: gradientShift 3s ease-in-out infinite;

    color: var(--header-color);
    min-height: 100vh; /* IMPORTANT */
    }
    .headerFont {
        font-family: var(--header-font);
    }
    .bodyFont {
        font-family: var(--body-font);
    }

    .shine-bg {
        position: relative;
        overflow: hidden;
        background: var(--primary);
        color: var(--body-color);
    }

    .primaryBg{
        background-color: var(--primary);
    }

    /* .shine-bg {
        position: relative;
        background: var(--primary);
        color: var(--body-color);
    } */

    #salesmanTable_info{
        color: var(--body-color);
    }

    .dropdownName{
        color: var(--body-color);
    }

    .dateColor{
        color: var(--body-color);
    }

    .header_title{
        color: var(--header-color);
    }

    .headerColor{
        color: var(--header-color);
    }

    .bodyColor{
        color: var(--header-color);
    }

    #salesmanTable_info{
        color: var(--body-color);
    }

    div.dt-container div.dt-paging nav button.dt-paging-button {
        color: var(--body-color) !important;
    }

    #salesmanTable th{
        color: var(--header-color) !important;
    }

    /* daterange picker */
    .daterangepicker .drp-calendar.left .calendar-table{
        background-color: var(--background);
        color: black !important; 
    }
    .daterangepicker .drp-calendar.right .calendar-table{
        background-color: var(--background);
        color: black !important; 
    }
   .daterangepicker td.available{
        background-color:var(--background);
        color: black !important;
   }

   .daterangepicker .today.active{
       background-color: var(--primary);
       color: var(--body-color);
    }

        /* Previous arrow < */
    .daterangepicker th.prev.available span {
        border-color: var(--primary) !important;
    
    }

    /* Next arrow > */
    .daterangepicker th.next.available span {
        border-color: var(--primary) !important;
    
    }


    /* Days from previous/next month */
    .daterangepicker td.off {
        background-color: transparent; /* or your desired color */
        color: #999;
        opacity: 0.5;
    }

    /* To completely hide them */
    .daterangepicker td.off {
        visibility: hidden;
    }

    /* end of date range picker */
}

@keyframes sheen {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

/* Dark mode */

[data-theme="dark"] {
    --bg: #111111;
    --text: #f1f1f1;
    --card: #120b3d;
    .tableBg {
        background-color: #120b3d;
        color: white;
    }
    .report_title{
       background-color: #120b3d;
        color: white;
    }
    .headerTheme {
        background-color: #120b3d;
        color: white;
    }
    .carouselBg{
        background-color: #120b3d;
        color: white;
    }
    .tableSec{
        background-color: #120b3d;
        color: white;
    }
    .sidenav {
        /* background-color: #120b3d; */
        color: white;
    }
    .dropdownTrigger{
        background-color: #120b3d;
        color: white;
    }
     .searchBar{
        background-color: #120b3d;
        color: white;
    }
    .report_header {
        font-family: var(--header-font);
    }
    .bodyFont {
        font-family: var(--body-font);
    }
    .shine-bg {
        position: relative;
        overflow: clip;
        background: var(--primary);
        color: var(--body-color);
        z-index: 0;
    }

    #salesmanTable_info{
        color: white;
    
    }

    #salesmanTable th{
        color: white !important;
    }

    .dropdownName{
        color: white;
    }
    .dateColor{
        color: white;
    }

    .headerColor{
        color: white;
    }

    .header_title{
        color: white;
    }

    .dt-paging .button{
        color: white;
    }

    .bodyColor{
        color: white;
    }

        /* daterange picker */
    .daterangepicker .drp-calendar.left .calendar-table{
        background-color: #120b3d;
        color: white !important; 
    }
    .daterangepicker .drp-calendar.right .calendar-table{
        background-color: #120b3d;
        color: white !important; 
    }
   .daterangepicker td.available{
        background-color:#120b3d;
        color: white !important;
   }

    .daterangepicker .today.active{
       background-color: var(--primary);
       color: var(--body-color);
    }

    .daterangepicker td.off, .daterangepicker td:hover{
        background-color: var(--secondary) !important;
        color: var(--body-color);
    }

    /* Previous arrow < */
    .daterangepicker th.prev.available span {
        border-color: white !important;
    
    }

    /* Next arrow > */
    .daterangepicker th.next.available span {
        border-color: white !important;
    
    }

    /* Days from previous/next month */
    .daterangepicker td.off {
        background-color: transparent;
        color: #999;
        opacity: 0.5;
    }

    /* To completely hide them */
    .daterangepicker td.off {
        visibility: hidden;
    }

    /* end of date rangepicker */
}

/* for the sheen */
.shine-bg > * {
    position: relative;
    z-index: 2;
}

/* Sheen layer */
.shine-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.25) 50%,
        transparent 100%
    );

    transform: skewX(-20deg);
    pointer-events: none;
}

.shine-bg:hover::after {
    animation: sheen 0.8s ease-in-out forwards;
}


div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: var(--primary) !important;
    /* color: red !important; */
    border: 1px solid var(--accent) !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: var(--primary) !important;
    /* color: red !important; */
    border: 1px solid var(--accent) !important;
}